 .u-section-1 {
  background-image: none;
  min-height: 4641px;
}

.u-section-1 .u-image-1 {
  height: 750px;
  margin-top: 426px;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  height: 941px;
  margin-top: -1175px;
  margin-bottom: 0;
}

.u-section-1 .u-image-3 {
  width: 851px;
  height: 117px;
  margin: -272px calc(((100% - 1140px) / 2)  + 128px) 0 auto;
}

.u-section-1 .u-image-4 {
  width: 420px;
  height: 30px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -261px auto 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 501px auto 0 calc(((100% - 1140px) / 2)  + 443px);
}

.u-section-1 .u-image-5 {
  width: 570px;
  height: 38px;
  margin: -282px auto 0;
}

.u-section-1 .u-image-6 {
  width: 487px;
  height: 22px;
  margin: -748px auto 0;
}

.u-section-1 .u-shape-1 {
  height: 14px;
  margin-top: 1039px;
  margin-bottom: 0;
}

.u-section-1 .u-image-7 {
  width: 440px;
  height: 238px;
  margin: 860px auto 0 calc(((100% - 1140px) / 2)  + -299px);
}

.u-section-1 .u-image-8 {
  width: 400px;
  height: 238px;
  margin: -238px auto 0 calc(((100% - 1140px) / 2)  + 141px);
}

.u-section-1 .u-image-9 {
  width: 400px;
  height: 238px;
  margin: -238px calc(((100% - 1140px) / 2)  + 199px) 0 auto;
}

.u-section-1 .u-image-10 {
  width: 496px;
  height: 238px;
  margin: -238px calc(((100% - 1140px) / 2)  + -297px) 0 auto;
}

.u-section-1 .u-image-11 {
  width: 568px;
  height: 261px;
  margin: -497px auto 0 calc(((100% - 1140px) / 2)  + -639px);
}

.u-section-1 .u-image-12 {
  width: 393px;
  height: 227px;
  margin: -466px auto 0 calc(((100% - 1140px) / 2)  + 132px);
}

.u-section-1 .u-image-13 {
  width: 393px;
  height: 224px;
  margin: -225px auto 0 calc(((100% - 1140px) / 2)  + -261px);
}

.u-section-1 .u-image-14 {
  height: 237px;
  transform-origin: center center;
  width: 408px;
  transform: scaleX(-1);
  margin: 3px auto 0 calc(((100% - 1140px) / 2)  + -71px);
}

.u-section-1 .u-image-15 {
  width: 393px;
  height: 230px;
  margin: -469px calc(((100% - 1140px) / 2)  + -171px) 0 auto;
}

.u-section-1 .u-image-16 {
  height: 237px;
  width: 379px;
  margin: 0 calc(((100% - 1140px) / 2)  + 23px) 0 auto;
}

.u-section-1 .u-image-17 {
  width: 435px;
  height: 238px;
  margin: -238px calc(((100% - 1140px) / 2)  + -412px) 0 auto;
}

.u-section-1 .u-image-18 {
  height: 237px;
  width: 410px;
  margin: -237px auto 0 calc(((100% - 1140px) / 2)  + 328px);
}

.u-section-1 .u-image-19 {
  height: 930px;
  margin-top: -490px;
  margin-bottom: 0;
}

.u-section-1 .u-image-20 {
  width: 403px;
  height: 230px;
  margin: -907px calc(((100% - 1140px) / 2)  + 212px) 0 auto;
}

.u-section-1 .u-image-21 {
  width: 542px;
  height: 93px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -510px auto 0;
}

.u-section-1 .u-image-22 {
  width: 482px;
  height: 21px;
  margin: 39px auto 0;
}

.u-section-1 .u-image-23 {
  width: 798px;
  height: 278px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 316px calc(((100% - 1140px) / 2)  + 147px) 0 auto;
}

.u-section-1 .u-image-24 {
  width: 496px;
  height: 238px;
  margin: 0 calc(((100% - 1140px) / 2)  + -789px) 0 auto;
}

.u-section-1 .u-image-25 {
  width: 435px;
  height: 229px;
  margin: -705px calc(((100% - 1140px) / 2)  + -600px) 0 auto;
}

.u-section-1 .u-image-26 {
  width: 568px;
  height: 224px;
  margin: -224px auto 0 calc(((100% - 1140px) / 2)  + -829px);
}

.u-section-1 .u-image-27 {
  width: 440px;
  height: 246px;
  margin: 230px auto 0 calc(((100% - 1140px) / 2)  + -727px);
}

.u-section-1 .u-shape-2 {
  height: 18px;
  margin-top: -718px;
  margin-bottom: 0;
}

.u-section-1 .u-image-28 {
  width: 570px;
  height: 20px;
  margin: 407px auto 0;
}

.u-section-1 .u-image-29 {
  width: 164px;
  height: 22px;
  margin: 422px auto 0 calc(((100% - 1140px) / 2)  + 76px);
}

.u-section-1 .u-image-30 {
  width: 570px;
  height: 87px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 1px auto 0 calc(((100% - 1140px) / 2)  + 70px);
}

.u-section-1 .u-image-31 {
  width: 484px;
  height: 44px;
  margin: 25px auto 0 calc(((100% - 1140px) / 2)  + 55px);
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 3rem;
  background-image: none;
  border-style: solid;
  --radius: 14px;
  margin: 76px auto 0 calc(((100% - 1140px) / 2)  + 70px);
  padding: 61px 72px 62px 71px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 3rem;
  background-image: none;
  border-style: solid;
  --radius: 14px;
  margin: -203px calc(((100% - 1140px) / 2)  + 81px) 0 auto;
  padding: 208px 87px 209px;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 3rem;
  background-image: none;
  border-style: solid;
  --radius: 14px;
  margin: -498px calc(((100% - 1140px) / 2)  + 378px) 0 auto;
  padding: 61px 138px 61px 137px;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 3rem;
  background-image: none;
  border-style: solid;
  --radius: 14px;
  margin: 19px calc(((100% - 1140px) / 2)  + 378px) 0 auto;
  padding: 97px 95px 98px 94px;
}

.u-section-1 .u-btn-6 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 3rem;
  background-image: none;
  border-style: solid;
  --radius: 14px;
  margin: -276px auto 0 calc(((100% - 1140px) / 2)  + 70px);
  padding: 97px 137px 98px 136px;
}

.u-section-1 .u-btn-7 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 3rem;
  background-image: none;
  border-style: solid;
  --radius: 14px;
  margin: 27px calc(((100% - 1140px) / 2)  + 81px) 0 auto;
  padding: 30px 152px 30px 151px;
}

.u-section-1 .u-btn-8 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 3rem;
  background-image: none;
  border-style: solid;
  --radius: 14px;
  margin: -141px auto 0 calc(((100% - 1140px) / 2)  + 340px);
  padding: 30px 75px 30px 74px;
}

.u-section-1 .u-btn-9 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 3rem;
  background-image: none;
  border-style: solid;
  --radius: 14px;
  margin: -141px auto 0 calc(((100% - 1140px) / 2)  + 70px);
  padding: 30px 75px 30px 74px;
}

.u-section-1 .u-image-32 {
  height: 884px;
  margin-top: 131px;
  margin-bottom: 0;
  filter: brightness(0.35);
}

.u-section-1 .u-image-33 {
  width: 248px;
  height: 23px;
  margin: -798px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-image-34 {
  width: 402px;
  height: 125px;
  margin: 30px auto 0 calc(((100% - 1140px) / 2)  + -38px);
}

.u-section-1 .u-image-35 {
  width: 910px;
  height: 727px;
  margin: -94px auto 0;
}

.u-section-1 .u-shape-3 {
  height: 14px;
  margin-top: -903px;
  margin-bottom: 0;
}

.u-section-1 .u-image-36 {
  width: 235px;
  height: 49px;
  margin: 207px auto 0 calc(((100% - 1140px) / 2)  + 317px);
}

.u-section-1 .u-image-37 {
  width: 184px;
  height: 33px;
  margin: -3719px auto 0 calc(((100% - 1140px) / 2)  + -101px);
}

.u-section-1 .u-btn-10 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  background-image: none;
  --radius: 50px;
  margin: 4384px auto 0;
  padding: 45px 114px 46px 112px;
}

.u-section-1 .u-btn-11 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  background-image: none;
  --radius: 50px;
  margin: -4384px auto 0 calc(((100% - 1140px) / 2)  + 235px);
  padding: 9px 67px 11px 66px;
}

.u-section-1 .u-btn-12 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  background-image: none;
  --radius: 50px;
  margin: -44px calc(((100% - 1140px) / 2)  + 389px) 0 auto;
  padding: 9px 65px 11px;
}

.u-section-1 .u-btn-13 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  background-image: none;
  --radius: 50px;
  margin: -46px auto 0 calc(((100% - 1140px) / 2)  + 57px);
  padding: 9px 60px 11px 58px;
}

.u-section-1 .u-btn-14 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  background-image: none;
  --radius: 50px;
  margin: -43px calc(((100% - 1140px) / 2)  + -142px) 0 auto;
  padding: 9px 60px 11px 58px;
}

.u-section-1 .u-btn-15 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  background-image: none;
  --radius: 50px;
  margin: -46px auto 0 0;
  padding: 10px 61px 10px 60px;
}

.u-section-1 .u-btn-16 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  background-image: none;
  --radius: 50px;
  margin: -43px auto 0 calc(((100% - 1140px) / 2)  + 414px);
  padding: 10px 65px;
}

.u-section-1 .u-btn-17 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  background-image: none;
  --radius: 50px;
  margin: -44px calc(((100% - 1140px) / 2)  + 36px) 0 auto;
  padding: 10px 67px 10px 66px;
}

.u-section-1 .u-btn-18 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  background-image: none;
  --radius: 50px;
  margin: -44px calc(((100% - 1140px) / 2)  + 211px) 60px auto;
  padding: 10px 67px 10px 66px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    filter: brightness(0.45);
    margin-top: 381px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -273px;
    margin-right: calc(((100% - 940px) / 2)  + 89px);
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 940px) / 2)  + 360px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2)  + 243px);
  }

  .u-section-1 .u-image-6 {
    margin-left: calc(((100% - 940px) / 2)  + 314px);
  }

  .u-section-1 .u-image-7 {
    margin-top: 837px;
    margin-left: calc(((100% - 940px) / 2)  + -299px);
  }

  .u-section-1 .u-image-8 {
    margin-left: calc(((100% - 940px) / 2)  + 141px);
  }

  .u-section-1 .u-image-9 {
    margin-right: calc(((100% - 940px) / 2)  + 199px);
  }

  .u-section-1 .u-image-10 {
    margin-right: calc(((100% - 940px) / 2)  + -297px);
  }

  .u-section-1 .u-image-11 {
    margin-left: calc(((100% - 940px) / 2)  + -639px);
  }

  .u-section-1 .u-image-12 {
    margin-left: calc(((100% - 940px) / 2)  + 132px);
  }

  .u-section-1 .u-image-13 {
    margin-left: calc(((100% - 940px) / 2)  + -261px);
  }

  .u-section-1 .u-image-14 {
    filter: brightness(0.6);
    margin-left: calc(((100% - 940px) / 2)  + -71px);
  }

  .u-section-1 .u-image-15 {
    margin-right: calc(((100% - 940px) / 2)  + -171px);
  }

  .u-section-1 .u-image-16 {
    filter: brightness(0.55);
    margin-right: calc(((100% - 940px) / 2) + 23px);
  }

  .u-section-1 .u-image-17 {
    margin-right: calc(((100% - 940px) / 2)  + -412px);
  }

  .u-section-1 .u-image-18 {
    filter: brightness(0.5);
    margin-left: calc(((100% - 940px) / 2)  + 328px);
  }

  .u-section-1 .u-image-20 {
    margin-right: calc(((100% - 940px) / 2)  + 212px);
  }

  .u-section-1 .u-image-21 {
    margin-left: calc(((100% - 940px) / 2)  + 299px);
  }

  .u-section-1 .u-image-22 {
    margin-left: calc(((100% - 940px) / 2)  + 329px);
  }

  .u-section-1 .u-image-23 {
    margin-right: calc(((100% - 940px) / 2)  + 142px);
  }

  .u-section-1 .u-image-24 {
    margin-right: calc(((100% - 940px) / 2)  + -789px);
  }

  .u-section-1 .u-image-25 {
    margin-right: calc(((100% - 940px) / 2)  + -600px);
  }

  .u-section-1 .u-image-26 {
    margin-top: -223px;
    margin-left: calc(((100% - 940px) / 2)  + -829px);
  }

  .u-section-1 .u-image-27 {
    margin-left: calc(((100% - 940px) / 2) + -727px);
  }

  .u-section-1 .u-image-28 {
    margin-top: 461px;
    margin-left: calc(((100% - 940px) / 2)  + 285px);
  }

  .u-section-1 .u-image-29 {
    margin-top: 457px;
    margin-left: calc(((100% - 940px) / 2)  + 76px);
  }

  .u-section-1 .u-image-30 {
    margin-left: calc(((100% - 940px) / 2)  + 70px);
  }

  .u-section-1 .u-image-31 {
    margin-left: calc(((100% - 940px) / 2)  + 55px);
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-right: calc(((100% - 940px) / 2)  + 178px);
  }

  .u-section-1 .u-btn-5 {
    margin-right: calc(((100% - 940px) / 2)  + 178px);
  }

  .u-section-1 .u-btn-6 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-7 {
    margin-top: -789px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-8 {
    margin-left: calc(((100% - 940px) / 2)  + 140px);
  }

  .u-section-1 .u-btn-9 {
    margin-left: calc(((100% - 940px) / 2));
    padding: 86px 119px 86px 118px;
  }

  .u-section-1 .u-image-32 {
    margin-top: 137px;
  }

  .u-section-1 .u-image-33 {
    margin-left: calc(((100% - 940px) / 2)  + 110px);
  }

  .u-section-1 .u-image-34 {
    margin-left: calc(((100% - 940px) / 2)  + 74px);
  }

  .u-section-1 .u-image-35 {
    margin-right: calc(((100% - 940px) / 2)  + 53px);
    margin-left: calc(((100% - 940px) / 2)  + 64px);
  }

  .u-section-1 .u-image-36 {
    margin-left: calc(((100% - 940px) / 2)  + 210px);
  }

  .u-section-1 .u-image-37 {
    margin-left: calc(((100% - 940px) / 2)  + -92px);
  }

  .u-section-1 .u-btn-10 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2)  + 245px);
  }

  .u-section-1 .u-btn-11 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-12 {
    margin-right: calc(((100% - 940px) / 2)  + 189px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-13 {
    margin-right: calc(((100% - 940px) / 2)  + 214px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-14 {
    margin-right: calc(((100% - 940px) / 2)  + 34px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-15 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-16 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-17 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-18 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 4003px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 392px;
  }

  .u-section-1 .u-image-3 {
    width: 720px;
    height: 99px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-4 {
    margin-top: -243px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2)  + 23px);
  }

  .u-section-1 .u-image-6 {
    margin-left: calc(((100% - 720px) / 2)  + 233px);
  }

  .u-section-1 .u-image-7 {
    margin-top: 843px;
    margin-left: calc(((100% - 720px) / 2)  + -299px);
  }

  .u-section-1 .u-image-8 {
    margin-left: calc(((100% - 720px) / 2)  + 141px);
  }

  .u-section-1 .u-image-9 {
    margin-right: calc(((100% - 720px) / 2)  + 199px);
  }

  .u-section-1 .u-image-10 {
    margin-right: calc(((100% - 720px) / 2)  + -297px);
  }

  .u-section-1 .u-image-11 {
    margin-left: calc(((100% - 720px) / 2)  + -639px);
  }

  .u-section-1 .u-image-12 {
    margin-left: calc(((100% - 720px) / 2)  + 132px);
  }

  .u-section-1 .u-image-13 {
    margin-left: calc(((100% - 720px) / 2)  + -261px);
  }

  .u-section-1 .u-image-14 {
    margin-left: calc(((100% - 720px) / 2)  + -71px);
  }

  .u-section-1 .u-image-15 {
    margin-right: calc(((100% - 720px) / 2)  + -171px);
  }

  .u-section-1 .u-image-16 {
    margin-right: calc(((100% - 720px) / 2) + 23px);
  }

  .u-section-1 .u-image-17 {
    margin-right: calc(((100% - 720px) / 2)  + -412px);
  }

  .u-section-1 .u-image-18 {
    margin-left: calc(((100% - 720px) / 2)  + 310px);
  }

  .u-section-1 .u-image-20 {
    margin-right: calc(((100% - 720px) / 2)  + 212px);
  }

  .u-section-1 .u-image-21 {
    margin-left: calc(((100% - 720px) / 2)  + 178px);
  }

  .u-section-1 .u-image-22 {
    margin-left: calc(((100% - 720px) / 2)  + 238px);
  }

  .u-section-1 .u-image-23 {
    width: 720px;
    height: 251px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-24 {
    margin-right: calc(((100% - 720px) / 2)  + -789px);
  }

  .u-section-1 .u-image-25 {
    margin-right: calc(((100% - 720px) / 2)  + -600px);
  }

  .u-section-1 .u-image-26 {
    margin-left: calc(((100% - 720px) / 2)  + -829px);
  }

  .u-section-1 .u-image-27 {
    margin-left: calc(((100% - 720px) / 2) + -727px);
  }

  .u-section-1 .u-image-28 {
    margin-left: calc(((100% - 720px) / 2)  + 150px);
  }

  .u-section-1 .u-image-29 {
    margin-left: calc(((100% - 720px) / 2)  + 76px);
  }

  .u-section-1 .u-image-30 {
    margin-left: calc(((100% - 720px) / 2)  + 70px);
  }

  .u-section-1 .u-image-31 {
    margin-left: calc(((100% - 720px) / 2)  + 55px);
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-6 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-7 {
    margin-top: -1018px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-8 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-9 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-33 {
    margin-left: calc(((100% - 720px) / 2)  + 110px);
  }

  .u-section-1 .u-image-34 {
    margin-left: calc(((100% - 720px) / 2)  + 74px);
  }

  .u-section-1 .u-image-35 {
    width: 720px;
    height: 575px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-shape-3 {
    margin-top: -751px;
  }

  .u-section-1 .u-image-36 {
    margin-left: calc(((100% - 720px) / 2)  + 150px);
  }

  .u-section-1 .u-image-37 {
    margin-left: calc(((100% - 720px) / 2)  + -92px);
  }

  .u-section-1 .u-btn-10 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2)  + 25px);
  }

  .u-section-1 .u-btn-11 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-12 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-13 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-14 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: auto;
  }

  .u-section-1 .u-btn-15 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-16 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-17 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-18 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 3402px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 400px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 74px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-4 {
    margin-top: -218px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-5 {
    width: 540px;
    height: 36px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -746px;
    margin-left: calc(((100% - 540px) / 2)  + 53px);
  }

  .u-section-1 .u-image-7 {
    margin-top: 848px;
    margin-left: calc(((100% - 540px) / 2)  + -299px);
  }

  .u-section-1 .u-image-8 {
    margin-left: calc(((100% - 540px) / 2)  + 140px);
  }

  .u-section-1 .u-image-9 {
    margin-right: calc(((100% - 540px) / 2)  + 140px);
  }

  .u-section-1 .u-image-10 {
    margin-right: calc(((100% - 540px) / 2)  + -297px);
  }

  .u-section-1 .u-image-11 {
    margin-left: calc(((100% - 540px) / 2)  + -639px);
  }

  .u-section-1 .u-image-12 {
    margin-left: calc(((100% - 540px) / 2)  + 132px);
  }

  .u-section-1 .u-image-13 {
    margin-left: calc(((100% - 540px) / 2)  + -261px);
  }

  .u-section-1 .u-image-14 {
    margin-left: calc(((100% - 540px) / 2)  + -71px);
  }

  .u-section-1 .u-image-15 {
    margin-right: calc(((100% - 540px) / 2)  + -171px);
  }

  .u-section-1 .u-image-16 {
    margin-right: calc(((100% - 540px) / 2) + 23px);
  }

  .u-section-1 .u-image-17 {
    margin-right: calc(((100% - 540px) / 2)  + -412px);
  }

  .u-section-1 .u-image-18 {
    margin-left: calc(((100% - 540px) / 2)  + 130px);
  }

  .u-section-1 .u-image-20 {
    margin-right: calc(((100% - 540px) / 2)  + 137px);
  }

  .u-section-1 .u-image-21 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-22 {
    margin-left: calc(((100% - 540px) / 2)  + 58px);
  }

  .u-section-1 .u-image-23 {
    width: 540px;
    height: 188px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-24 {
    margin-right: calc(((100% - 540px) / 2)  + -789px);
  }

  .u-section-1 .u-image-25 {
    margin-right: calc(((100% - 540px) / 2)  + -600px);
  }

  .u-section-1 .u-image-26 {
    margin-left: calc(((100% - 540px) / 2)  + -829px);
  }

  .u-section-1 .u-image-27 {
    margin-left: calc(((100% - 540px) / 2)  + -727px);
  }

  .u-section-1 .u-image-28 {
    width: 540px;
    height: 19px;
    margin-top: 456px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-29 {
    margin-top: 463px;
    margin-left: calc(((100% - 540px) / 2)  + 76px);
  }

  .u-section-1 .u-image-30 {
    width: 540px;
    height: 82px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-31 {
    margin-left: calc(((100% - 540px) / 2)  + 55px);
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-6 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-7 {
    margin-top: -1205px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-8 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-9 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-33 {
    margin-left: calc(((100% - 540px) / 2)  + 110px);
  }

  .u-section-1 .u-image-34 {
    margin-left: calc(((100% - 540px) / 2)  + 74px);
  }

  .u-section-1 .u-image-35 {
    width: 540px;
    height: 431px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-shape-3 {
    margin-top: -607px;
  }

  .u-section-1 .u-image-36 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-37 {
    margin-left: calc(((100% - 540px) / 2)  + -92px);
  }

  .u-section-1 .u-btn-10 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-11 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-12 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-13 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-14 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-15 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-16 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-17 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-18 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 2405px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 409px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 47px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 24px;
    margin-top: -191px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 23px;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 15px;
    margin-top: -733px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-7 {
    margin-top: 853px;
    margin-left: calc(((100% - 340px) / 2)  + -299px);
  }

  .u-section-1 .u-image-8 {
    width: 340px;
    height: 202px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-9 {
    width: 340px;
    height: 202px;
    margin-top: -202px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-10 {
    margin-top: -202px;
    margin-right: calc(((100% - 340px) / 2)  + -297px);
  }

  .u-section-1 .u-image-11 {
    margin-left: calc(((100% - 340px) / 2)  + -639px);
  }

  .u-section-1 .u-image-12 {
    width: 340px;
    height: 196px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-13 {
    margin-top: -194px;
    margin-left: calc(((100% - 340px) / 2)  + -261px);
  }

  .u-section-1 .u-image-14 {
    margin-left: calc(((100% - 340px) / 2)  + -71px);
  }

  .u-section-1 .u-image-15 {
    margin-right: calc(((100% - 340px) / 2)  + -171px);
  }

  .u-section-1 .u-image-16 {
    height: 213px;
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-17 {
    margin-top: -214px;
    margin-right: calc(((100% - 340px) / 2)  + -412px);
  }

  .u-section-1 .u-image-18 {
    height: 197px;
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-19 {
    margin-top: -450px;
  }

  .u-section-1 .u-image-20 {
    width: 340px;
    height: 194px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-21 {
    width: 340px;
    height: 59px;
    margin-top: -474px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-22 {
    width: 340px;
    height: 15px;
    margin-left: auto;
  }

  .u-section-1 .u-image-23 {
    width: 340px;
    height: 118px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-24 {
    margin-right: calc(((100% - 340px) / 2)  + -789px);
  }

  .u-section-1 .u-image-25 {
    margin-right: calc(((100% - 340px) / 2)  + -600px);
  }

  .u-section-1 .u-image-26 {
    margin-left: calc(((100% - 340px) / 2)  + -829px);
  }

  .u-section-1 .u-image-27 {
    margin-left: calc(((100% - 340px) / 2)  + -727px);
  }

  .u-section-1 .u-image-28 {
    width: 340px;
    height: 12px;
    margin-top: 394px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-29 {
    margin-top: 532px;
    margin-left: calc(((100% - 340px) / 2)  + 76px);
  }

  .u-section-1 .u-image-30 {
    width: 340px;
    height: 52px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-31 {
    width: 340px;
    height: 31px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-6 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-7 {
    margin-top: -1394px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-8 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-9 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-33 {
    margin-left: calc(((100% - 340px) / 2)  + 92px);
  }

  .u-section-1 .u-image-34 {
    width: 340px;
    height: 106px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-35 {
    width: 340px;
    height: 271px;
    margin-top: -75px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-shape-3 {
    margin-top: -440px;
  }

  .u-section-1 .u-image-36 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-37 {
    margin-left: calc(((100% - 340px) / 2)  + -92px);
  }

  .u-section-1 .u-btn-10 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-11 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-12 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-13 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-14 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-15 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-16 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-17 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-18 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
}