 .u-section-1 {
  background-image: linear-gradient(black, black);
  min-height: 1117px;
}

.u-section-1 .u-image-1 {
  width: 184px;
  height: 33px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 29px auto 0 0;
}

.u-section-1 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 1688px;
  height: 1576px;
  margin: -266px -410px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 1375px;
  height: 1196px;
  filter: brightness(0.55);
  transform: translateX(-50%) translateY(-50%) rotate(341.14deg);
  transform-origin: center center;
}

.u-section-1 .u-image-3 {
  width: 366px;
  height: 38px;
  margin: -872px auto 0 calc(((100% - 1140px) / 2)  + -169px);
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  background-image: none;
  font-size: 1.25rem;
  --radius: 50px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 464px auto 0 calc(((100% - 1140px) / 2)  + -86px);
  padding: 5px 43px 5px 41px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  background-image: none;
  --radius: 50px;
  margin: -948px auto 0 350px;
  padding: 9px 67px 11px 66px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  background-image: none;
  --radius: 50px;
  margin: -44px auto 0 704px;
  padding: 9px 65px 11px;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  background-image: none;
  --radius: 50px;
  margin: -46px auto 0 172px;
  padding: 9px 60px 11px 58px;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  background-image: none;
  --radius: 50px;
  margin: -43px auto 0 1232px;
  padding: 9px 60px 11px 58px;
}

.u-section-1 .u-btn-6 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  background-image: none;
  --radius: 50px;
  margin: -46px auto 0 -9px;
  padding: 10px 61px 10px 60px;
}

.u-section-1 .u-btn-7 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  background-image: none;
  --radius: 50px;
  margin: -43px auto 0 529px;
  padding: 10px 65px;
}

.u-section-1 .u-btn-8 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  background-image: none;
  --radius: 50px;
  margin: -44px auto 0 1054px;
  padding: 10px 67px 10px 66px;
}

.u-section-1 .u-btn-9 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  background-image: none;
  --radius: 50px;
  margin: -44px auto 0 879px;
  padding: 10px 67px 10px 66px;
}

.u-section-1 .u-image-4 {
  width: 570px;
  height: 113px;
  margin: 187px auto 0 calc(((100% - 1140px) / 2)  + -85px);
}

.u-section-1 .u-text-1 {
  margin: 386px calc(((100% - 1140px) / 2)  + 328px) 0 calc(((100% - 1140px) / 2)  + -85px);
}

.u-section-1 .u-image-5 {
  width: 570px;
  height: 57px;
  margin: -247px auto 60px calc(((100% - 1140px) / 2)  + -85px);
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 739px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 940px;
    height: 878px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 766px;
    height: 666px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -278px;
    margin-left: calc(((100% - 940px) / 2)  + -169px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: 150px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 504px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 1032px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 329px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 854px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 679px;
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 940px) / 2) + -85px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 128px);
    margin-left: calc(((100% - 940px) / 2) + -85px);
  }

  .u-section-1 .u-image-5 {
    margin-left: calc(((100% - 940px) / 2)  + -85px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 680px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 720px;
    height: 673px;
  }

  .u-section-1 .u-image-2 {
    width: 587px;
    height: 510px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -87px;
    margin-left: calc(((100% - 720px) / 2) + -169px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 284px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 812px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 109px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 634px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 459px;
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 720px) / 2) + -85px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + -85px);
  }

  .u-section-1 .u-image-5 {
    margin-left: calc(((100% - 720px) / 2)  + -85px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 295px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 540px;
    height: 505px;
  }

  .u-section-1 .u-image-2 {
    width: 440px;
    height: 382px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 70px;
    margin-left: calc(((100% - 540px) / 2) + -169px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-left: 104px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 632px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 454px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 279px;
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 540px) / 2) + -85px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + -85px);
  }

  .u-section-1 .u-image-5 {
    margin-left: calc(((100% - 540px) / 2)  + -85px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-rotation-parent-1 {
    width: 340px;
    height: 318px;
  }

  .u-section-1 .u-image-2 {
    width: 277px;
    height: 240px;
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 340px) / 2) + -169px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 432px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 254px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 79px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 67px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 34px;
    margin-left: calc(((100% - 340px) / 2));
  }
}.u-block-3b56-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-3b56-3 {
  position: absolute;
  left: 0;
}

.u-block-3b56-4 {
  position: absolute;
  right: 0;
}

 .u-section-2-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/3ae5962c6d84f95a73886ca23b708490a240b007897d51eaa1b6c0f457afc5301155608c721a01932b8148dda159f3a514e100e9e7b10f16dad903_1280.jpg');
  background-position: 50% 50%;
}

.u-section-2-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-1 .u-text-1 {
  font-size: 6rem;
  margin: 60px auto 0;
}

.u-section-2-1 .u-text-2 {
  width: 837px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-2-1 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-2-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-2-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2-1 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 662px;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 109px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 78px auto 0;
}

.u-section-3 .u-image-2 {
  width: 570px;
  height: 109px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -109px auto 0 912px;
}

.u-section-3 .u-image-3 {
  width: 570px;
  height: 109px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 57px auto 0;
}

.u-section-3 .u-image-4 {
  width: 570px;
  height: 109px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -109px auto 0 912px;
}

.u-section-3 .u-image-5 {
  width: 570px;
  height: 109px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 65px auto 0;
}

.u-section-3 .u-image-6 {
  width: 570px;
  height: 109px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -109px auto 0 912px;
}

.u-section-3 .u-image-7 {
  width: 570px;
  height: 109px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -449px auto 0 -342px;
}

.u-section-3 .u-image-8 {
  width: 570px;
  height: 109px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 57px auto 0 -342px;
}

.u-section-3 .u-image-9 {
  width: 570px;
  height: 109px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 65px auto 60px -342px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    margin-top: 1655px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 370px;
  }

  .u-section-3 .u-image-4 {
    margin-left: 370px;
  }

  .u-section-3 .u-image-6 {
    margin-left: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 384px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 1933px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 150px;
  }

  .u-section-3 .u-image-4 {
    margin-left: 150px;
  }

  .u-section-3 .u-image-6 {
    margin-left: 150px;
  }

  .u-section-3 .u-image-7 {
    margin-top: -727px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 121px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 103px;
    margin-top: 2172px;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 103px;
    margin-top: -103px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    width: 540px;
    height: 103px;
  }

  .u-section-3 .u-image-4 {
    width: 540px;
    height: 103px;
    margin-top: -103px;
    margin-left: 0;
  }

  .u-section-3 .u-image-5 {
    width: 540px;
    height: 103px;
  }

  .u-section-3 .u-image-6 {
    width: 540px;
    height: 103px;
    margin-top: -103px;
    margin-left: 0;
  }

  .u-section-3 .u-image-7 {
    margin-top: -948px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    width: 340px;
    height: 65px;
    margin-top: 2500px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 65px;
    margin-top: -65px;
  }

  .u-section-3 .u-image-3 {
    width: 340px;
    height: 65px;
  }

  .u-section-3 .u-image-4 {
    width: 340px;
    height: 65px;
    margin-top: -65px;
  }

  .u-section-3 .u-image-5 {
    width: 340px;
    height: 65px;
  }

  .u-section-3 .u-image-6 {
    width: 340px;
    height: 65px;
    margin-top: -65px;
  }

  .u-section-3 .u-image-7 {
    margin-top: -1162px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 3779px;
}

.u-section-4 .u-shape-1 {
  width: 157px;
  height: 157px;
  background-image: none;
  margin: 87px auto 0 -168px;
}

.u-section-4 .u-image-1 {
  width: 209px;
  height: 152px;
  margin: -102px auto 0 -90px;
}

.u-section-4 .u-shape-2 {
  width: 643px;
  height: 643px;
  margin: -175px -261px 0 auto;
}

.u-section-4 .u-image-2 {
  width: 520px;
  height: 579px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -377px -68px 0 auto;
}

.u-section-4 .u-image-3 {
  width: 537px;
  height: 47px;
  margin: -648px auto 0 -121px;
}

.u-section-4 .u-text-1 {
  font-size: 1.5rem;
  line-height: 1.63;
  margin: 21px 488px 0 -90px;
}

.u-section-4 .u-shape-3 {
  width: 260px;
  height: 260px;
  margin: -95px auto 0 -212px;
}

.u-section-4 .u-shape-4 {
  width: 157px;
  height: 157px;
  background-image: none;
  margin: 99px -157px 0 auto;
}

.u-section-4 .u-image-4 {
  width: 230px;
  height: 154px;
  margin: -101px -68px 0 auto;
}

.u-section-4 .u-shape-5 {
  width: 489px;
  height: 489px;
  margin: -46px auto 0 251px;
}

.u-section-4 .u-shape-6 {
  width: 836px;
  height: 836px;
  margin: -371px -436px 0 auto;
}

.u-section-4 .u-text-2 {
  font-weight: 800;
  font-size: 3rem;
  margin: -979px 174px 0 384px;
}

.u-section-4 .u-image-5 {
  width: 513px;
  height: 468px;
  margin: 16px auto 0 -69px;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  line-height: 1.63;
  margin: -468px -68px 0 466px;
}

.u-section-4 .u-text-4 {
  font-size: 3rem;
  font-weight: 800;
  margin: 385px 379px 0 179px;
}

.u-section-4 .u-image-6 {
  width: 565px;
  height: 552px;
  margin: 30px -90px 0 auto;
}

.u-section-4 .u-shape-7 {
  width: 157px;
  height: 157px;
  background-image: none;
  margin: -801px auto 0 -168px;
}

.u-section-4 .u-image-7 {
  width: 227px;
  height: 206px;
  margin: -120px auto 0 -60px;
}

.u-section-4 .u-text-5 {
  font-size: 1.5rem;
  line-height: 1.63;
  margin: 12px 488px 0 -90px;
}

.u-section-4 .u-shape-8 {
  width: 157px;
  height: 157px;
  background-image: none;
  margin: 303px -157px 0 auto;
}

.u-section-4 .u-image-8 {
  width: 218px;
  height: 143px;
  margin: -85px -68px 0 auto;
}

.u-section-4 .u-text-6 {
  font-size: 3rem;
  font-weight: 800;
  margin: -59px 100px 0 458px;
}

.u-section-4 .u-shape-9 {
  width: 836px;
  height: 836px;
  margin: -661px auto 0 -372px;
}

.u-section-4 .u-image-9 {
  width: 594px;
  height: 535px;
  margin: -159px auto 0 -109px;
}

.u-section-4 .u-text-7 {
  font-size: 1.5rem;
  line-height: 1.63;
  margin: -535px -107px 0 505px;
}

.u-section-4 .u-shape-10 {
  width: 429px;
  height: 429px;
  margin: -91px -197px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 388px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 74px;
    margin-left: 284px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 366px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 279px;
    margin-left: 79px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 388px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
    margin-left: 358px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 405px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-shape-1 {
    margin-left: 42px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 120px;
  }

  .u-section-4 .u-shape-2 {
    margin-right: -51px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -299px;
    margin-right: 142px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -726px;
    margin-left: 89px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 488px;
    margin-left: 120px;
  }

  .u-section-4 .u-shape-3 {
    margin-left: -2px;
  }

  .u-section-4 .u-shape-4 {
    margin-right: 53px;
  }

  .u-section-4 .u-image-4 {
    margin-right: 142px;
  }

  .u-section-4 .u-shape-5 {
    margin-left: 441px;
  }

  .u-section-4 .u-shape-6 {
    margin-right: -226px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 210px;
    margin-left: 348px;
  }

  .u-section-4 .u-image-5 {
    margin-left: 141px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 142px;
    margin-left: 466px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 348px;
    margin-left: 210px;
  }

  .u-section-4 .u-image-6 {
    margin-right: 120px;
  }

  .u-section-4 .u-shape-7 {
    margin-left: 42px;
  }

  .u-section-4 .u-image-7 {
    margin-left: 150px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 488px;
    margin-left: 120px;
  }

  .u-section-4 .u-shape-8 {
    margin-right: 53px;
  }

  .u-section-4 .u-image-8 {
    margin-right: 142px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 210px;
    margin-left: 348px;
  }

  .u-section-4 .u-shape-9 {
    margin-left: -162px;
  }

  .u-section-4 .u-image-9 {
    margin-top: -3px;
    margin-left: 101px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -691px;
    margin-right: 103px;
    margin-left: 505px;
  }

  .u-section-4 .u-shape-10 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-shape-1 {
    margin-left: 132px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 210px;
  }

  .u-section-4 .u-shape-2 {
    margin-right: 39px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -494px;
    margin-right: 232px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -531px;
    margin-left: 179px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1rem;
    margin-left: 210px;
  }

  .u-section-4 .u-shape-3 {
    margin-left: 88px;
  }

  .u-section-4 .u-shape-4 {
    margin-right: 143px;
  }

  .u-section-4 .u-image-4 {
    margin-right: 232px;
  }

  .u-section-4 .u-shape-5 {
    margin-left: 351px;
  }

  .u-section-4 .u-shape-6 {
    margin-right: -136px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-4 .u-image-5 {
    margin-left: 231px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
    margin-right: 232px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1rem;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-4 .u-image-6 {
    margin-right: 210px;
  }

  .u-section-4 .u-shape-7 {
    margin-top: -750px;
    margin-left: 132px;
  }

  .u-section-4 .u-image-7 {
    margin-left: 240px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1rem;
    margin-top: -39px;
    margin-left: 210px;
  }

  .u-section-4 .u-shape-8 {
    margin-right: 143px;
  }

  .u-section-4 .u-image-8 {
    margin-right: 232px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1rem;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-4 .u-shape-9 {
    margin-left: -72px;
  }

  .u-section-4 .u-image-9 {
    margin-top: -211px;
    margin-left: 191px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1rem;
    margin-top: -483px;
    margin-right: 193px;
  }

  .u-section-4 .u-shape-10 {
    margin-right: 103px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1511px;
  }

  .u-section-4 .u-shape-1 {
    margin-left: 232px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 310px;
  }

  .u-section-4 .u-shape-2 {
    width: 340px;
    height: 340px;
    margin-right: 400px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 379px;
    margin-top: -130px;
    margin-right: 400px;
  }

  .u-section-4 .u-image-3 {
    width: 340px;
    height: 30px;
    margin-top: -392px;
    margin-left: 400px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-4 .u-shape-3 {
    margin-top: -66px;
    margin-left: 188px;
  }

  .u-section-4 .u-shape-4 {
    margin-right: 243px;
  }

  .u-section-4 .u-image-4 {
    margin-right: 332px;
  }

  .u-section-4 .u-shape-5 {
    width: 340px;
    height: 340px;
    margin-left: 400px;
  }

  .u-section-4 .u-shape-6 {
    width: 340px;
    height: 340px;
    margin-top: -222px;
    margin-right: 400px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -483px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-4 .u-image-5 {
    width: 340px;
    height: 310px;
    margin-left: 400px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -310px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-4 .u-image-6 {
    width: 340px;
    height: 332px;
    margin-right: 400px;
  }

  .u-section-4 .u-shape-7 {
    margin-top: -530px;
    margin-left: 232px;
  }

  .u-section-4 .u-image-7 {
    margin-left: 340px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-4 .u-shape-8 {
    margin-right: 243px;
  }

  .u-section-4 .u-image-8 {
    margin-right: 332px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-4 .u-shape-9 {
    width: 340px;
    height: 340px;
    margin-left: 400px;
  }

  .u-section-4 .u-image-9 {
    width: 340px;
    height: 306px;
    margin-top: 337px;
    margin-left: 400px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -306px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-4 .u-shape-10 {
    margin-right: 203px;
  }
} .u-section-5 {
  background-image: linear-gradient(black, #333333);
}

.u-section-5 .u-sheet-1 {
  min-height: 1402px;
}

.u-section-5 .u-text-1 {
  font-weight: 300;
  margin: 60px auto 0;
}

.u-section-5 .u-line-1 {
  width: 100px;
  height: 3px;
  margin: 43px auto 0;
}

.u-section-5 .u-accordion-1 {
  width: 1140px;
  margin: 30px 0 0;
}

.u-section-5 .u-accordion-link-1 {
  font-weight: 700;
  padding: 25px 20px;
}

.u-section-5 .u-icon-1 {
  height: 15px;
  width: 15px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
}

.u-section-5 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 20px 20px;
}

.u-section-5 .u-accordion-link-2 {
  font-weight: 700;
  padding: 25px 20px;
}

.u-section-5 .u-icon-2 {
  height: 15px;
  width: 15px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
}

.u-section-5 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 20px 20px;
}

.u-section-5 .u-accordion-link-3 {
  font-weight: 700;
  padding: 25px 20px;
}

.u-section-5 .u-icon-3 {
  height: 15px;
  width: 15px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
}

.u-section-5 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 20px 20px;
}

.u-section-5 .u-accordion-link-4 {
  font-weight: 700;
  padding: 25px 20px;
}

.u-section-5 .u-icon-4 {
  height: 15px;
  width: 15px;
  background-image: none;
  color: rgb(255, 255, 255);
}

.u-section-5 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-5 .u-container-layout-4 {
  padding: 20px;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  background-image: none;
  font-size: 1.25rem;
  --radius: 50px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 107px auto 0 345px;
  padding: 5px 43px 5px 41px;
}

.u-section-5 .u-btn-2 {
  border-style: solid;
  letter-spacing: 0px;
  background-image: none;
  font-size: 1.25rem;
  --radius: 50px;
  text-transform: uppercase;
  font-weight: 300;
  margin: -46px 349px 60px auto;
  padding: 5px 43px 5px 41px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    text-transform: none;
    font-size: 3rem;
  }

  .u-section-5 .u-accordion-1 {
    width: 940px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 145px;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 149px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-accordion-1 {
    width: 720px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-accordion-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-accordion-1 {
    width: 340px;
  }
}